@import './variability.scss';

.body {
    font-family: $fonts;
}

.btn {
    border: $zero;
    outline: $zero;
    color: $white;
    margin: calc(1 * $pt);
    padding: calc(2 * $pt);
    background-color: $bgColor;
    &:disabled {
        opacity: 0.5;
    }
}